
  .slide.ng-enter, .slide.ng-leave {
    opacity: 0;
    transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
  }
