<div>
  <div>
    <img class="img-thumbnail" src="http://images.amazon.com/images/P/{{ BookCtrl.book.isbn }}.01.MZZZZZZZ" alt="{{ BookCtrl.book.title }}" />
  </div>
  <div>
    <label class="control-label">Title:</label>
    <span>{{ BookCtrl.book.title }}</span>
  </div>
  <div>
    <label class="control-label">Author:</label>
    <span>{{ BookCtrl.book.author }}</span>
  </div>
  <div>
    <label class="control-label">ISBN:</label>
    <span>{{ BookCtrl.book.isbn }}</span>
  </div>
  <a class="btn btn-default" href="#books">Back</a>
</div>
